<app-title title="Flow Control"></app-title>


<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <!-- ngInf @if -->
  <div class="™bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">if: {{ showContent() }}</h2>
    <button
      class="p-2 bg-blue-500 rounded text-white"
      (click)="toggleContent()"
    >
      Click me!
    </button>

    @if(showContent()){
      <p>Hola Mundo</p>
    }@else{
      <p>Adios Mundo</p>
    }
  </div>

    <!-- @switch -->
    <div class="™bg-white rounded shadow p-10">
      <h1 class="text-3xl">{{grade()}}</h1>

      @switch( grade() ){
        @case('A'){
          <p>Arriba de noventa</p>
        }
        @case('B'){
          <p>Menos de noventa</p>
        }
        @case('F'){
          <p>Reprobado</p>
        }
        @default{
          <p>No hay nota</p>
        }
      }

    </div>

    <div class="™bg-white rounded shadow p-10">
     <!-- @for -->
      <ul>
        @for(frame of frameworks(); track $index; let i = $index, first =$first, last = $last, odd = $odd, even = $even ) {

            <li [class]="{
              'bg-red-100': even && !first && !last,
              'bg-purple-100': odd && !first && !last,
              'bg-blue-100': first && last,

            }">{{i + 1}} - {{frame}}</li>
        }
      </ul>
    </div>

    <div class="™bg-white rounded shadow p-10">
      <ul>
        @for(frame of frameworks2(); track $index) {

            <li class="text-3xl">{{frame}}</li>
        }@empty {
          <li>No hay frameworks para mostrar</li>
        }
      </ul>
    </div>
</section>



